<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/home.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body class=" blue-grey darken-3">

    <div class="container divLogin">
      
      <div class="row divLoginCaixa z-depth-3">
       
        <div class="menusInicial container  col s4" >
          <a>
            <img src="/img/usuarios.png" width="60" height="60" alt="usuarios">
          </a>
          <label>Usuarios</label>
        </div>
        <div class="menusInicial container col s4" >
          <a>
            <img src="/img/loading.gif" width="60" height="60" alt="usuarios">
          </a>
          <label>Indicadores</label>
        </div>
        <div class="menusInicial container col s4" >
          <a>
            <img src="/img/conexao.png" width="60" height="60" alt="usuarios">
          </a>
          <label>Conexao</label>
        </div>

      </div>
     
    </div>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>